.createButton {
  margin-bottom: 8px;
}

.editHref {
  float: right;
}

.deleteHref {
  float: left;
}

.formItemGap {
  :global {
    .ant-form-item {
      margin-bottom: 10px;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}