.createButton {
  margin-bottom: 8px;
}

.editHref {
  float: left;
}

.deleteHref {
  float: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.formItemGap {
  :global {
    .ant-form-item {
      margin-bottom: 10px;
    }
    .ant-form-item-control-wrapper {
      flex: 1;
      margin-bottom: 10px;
      width: 60%;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

.centerButton {
  text-align: center;
}